[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
	shallow = true
[submodule "components/Adafruit_BusIO"]
	path = components/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "components/Adafruit_GFX_Library/code"]
	path = components/Adafruit_GFX_Library/code
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "components/GxEPD2/code"]
	path = components/GxEPD2/code
	url = https://github.com/ZinggJM/GxEPD2.git
